*{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

header{
   position: fixed;
   top: 0;
   left: 0;
    width: 100%;     
  z-index: 1000; 
}

main{
    margin-top: 60px;
}
.container-flex-nav-link-and-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: white;
}
.right-element img{
   margin: 20px;
}
.right-element{
     display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.right-element nav a{
    padding-right: 20px;
    text-decoration: none;
    color: black;
}

.left-element{
     display: flex;
    flex-direction: row;
    align-items: center;
}
.left-element nav .normal-link{
 text-decoration: none;
 padding-left: 20px;
 padding-right: 12px;
 color: black;
}

.right-element nav a,
.left-element nav .normal-link {
  text-decoration: none; 
  transition: text-decoration-thickness 0.2s ease, text-underline-offset 0.2s ease,color 0.2s ease;
}

.right-element nav a:hover,
.left-element nav .normal-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;  
  text-underline-offset: 28px;      
}


.left-element nav .button1{
    background-color: #0061FE;
    text-decoration: none;
    padding: 8px 10px;
    color: white;
    margin-right: 20px;
    transition: background-color 0.3 ease, color 0.3s ease;
}

.left-element nav .button1:hover{
   background-color: #004ACC; 
  color: white; 
}


.left-element nav .button0{
    text-decoration: none;
    padding: 8px 10px;
    color: black;
    background-color: white;
    padding: 8px 10px;
    transition: background-color 0.3 ease, color 0.3s ease;

}

.left-element nav .button0:hover{
    background-color: #B4D0E6; 
  color: black; 

}

.container-title-text-button-img-and-icon{
    background-color: #B4D0E6;
}

.container-title-text-button-img-and-icon h1{
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    width: 700px;
}

.container-title-text-button-img-and-icon{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top:  40px;
    padding-left: 300px;
}

.container-title-text-button-img-and-icon p{
    width: 279px;
    margin-bottom: 80px;
    margin-top: 20px;
}

.container-title-text-button-img-and-icon .button1{
    background-color: #0061FE;
    width: 200px;
    text-decoration: none;
    padding: 8px 10px;
    color: white;
    margin-bottom: 80px;
    transition: background-color 0.3 ease, color 0.3s ease;
}

.container-title-text-button-img-and-icon .button1:hover{
    background-color: #004ACC; 
  color: white; 
}

.container-title-text-button-img-and-icon i{
    font-size: 40px;
    margin-bottom: 20px;
}

.img-posiction{
    position: absolute;
}

.img-posiction img{
    position: absolute;
    width: 800px;
    left: 280px;
    top: 100px;
}


.separate{
    margin-top: 140px;
}
.container{
    display: flex;
    width: 80%;
    margin: auto;
}
.container-h2-and-text{
margin-top: 40px;
margin-left: 140px;

}


.pointer-row{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.pointer-select,
.pointer-unselect {
  display: inline-block; 
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  margin-right: 8px; 
  vertical-align: middle; 
}


.pointer-select {
    border: 4px solid #007bff; 
}


.pointer-unselect {
  border: 2px solid #6c757d; 
}


.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 20px; 
  justify-content: center; 
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}


.card {
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.card-header {
  padding: 10px 15px;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 1px solid #ddd;
}

.card-body {
  padding: 40px;
  flex-grow: 1;
  border: 1px solid #ddd; 
}

.card-body h2 {
    margin-top: 20px;
  margin: 0 0 10px;
}

.price {
    margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}
.price p{
    margin-bottom: 12px;
}

.period {
  font-weight: normal;
  font-size: 14px;
  color: #555;
}

.features,
.highlights {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  margin-bottom: 40px;
  height: 140px;
}

.features li,
.highlights li {
  margin-bottom: 10px;
  font-size: 14px;
}

.features i,
.highlights i {
  margin-right: 8px;
  color: #333;
}

.btn {
  background: #0061ff;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  background: #004ecc;
}

.link {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #0061ff;
  text-decoration: none;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
  width: 40px;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.display-flex-li{
    display: flex;
    align-items: flex-start;
}
.highlights i{

    color: #0061ff
}

.features .display-flex-li{
    display: flex;
    align-items: flex-start;
}

.black{
    color: black;
}

.display-flex-tex-aline-right{
    display: flex;
    justify-content: left;
}


.card h3{
    margin-bottom: 40px;
}



.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 65.8%;
    margin: 0 auto;
}

.title-botton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-botton .btn{
    width: 200px;
}

.card-body .testo-in-grassetto{
    margin-bottom: 20px;
    font-weight: bold;
}
.card-body p{
    width: 520px;
}

.container-flex-img-text-and-button2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin-left: 260px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.container-flex-img-text-and-button2 img{
    width: 455px;
}

.container-flex-img-text-and-button2 .container-text-and-button{
    margin-left: 80px;
    width: 232px;
}

.container-text-and-button h2{
    margin-bottom: 20px;
    text-align: left;
}

.container-text-and-button p{
    margin-bottom: 20px;
}

.container-text-and-button .btn2{
    background-color: white;
    padding: 12px;
    transition: background-color 0.3 ease, color 0.3s ease;
}

.container-text-and-button .btn2:hover{
background-color: #B4D0E6;
color: black;
}

h2{
    margin-top: 20px;
    text-align: center;
}

.container-img-title-text-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px; 
  justify-content: center;
  align-items: center; 
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
    
}

.container-img-title-text-grid img{
    width: 300px;
}

.card-body2 p{
    text-align: left;
    width: 280px;
}

.card-body2 h3{
    font-size: 34px;
}

.linnk-and-strong-text{
    display: flex;
    flex-direction: column;
    width: 65.8%;
    margin: 0 auto;
    margin-top: 80px;
}

.linnk-and-strong-text strong{
    font-size: 40px;
    width: 600px;
    margin-bottom: 40px;
}

.linnk-and-strong-text a{
    margin-bottom: 40px;
}
footer {
  background-color: black; /* sfondo continuo su tutto il footer */
}

.row-nav-link-and-srong-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 260px;
  padding-right: 260px;
}

.row-nav-link-and-srong-text strong {
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.row-nav-link-and-srong-text a {
  display:block; 
  text-align: left;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  width: 200px;
  transition: color 0.3s ease;
}

.row-nav-link-and-srong-text a:hover {
  color: #B4D0E6;
}


.strong-nav-link {
    
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;

}


.black {
  display: flex;
  justify-content: left;
  margin-left: 260px; 
  padding-bottom: 20px;
}

.black hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
  width: 40px; 
}
    

.lenguage-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 240px; 
    padding-bottom: 40px;
}
.lenguage-icon i{
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}
.lenguage-icon p{
    color: white;
}


